In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("data/train.csv")
store = pd.read_csv("data/store.csv")

/Users/bolong/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.merge(train, store, on='Store')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null object
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1014567 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              509178 non-null float64
Promo2SinceYear              509178 non-null float64
PromoInterval                509178 non-null object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [4]:
df['Distance'] = df['CompetitionDistance'].fillna(100000)

df['Month'] = df['Date'].map(lambda x: int(x[5:7]))

df['CompetitionOpenMonths'] = ((df['Date'].map(lambda x: int(x[:4])) \
                               - df['CompetitionOpenSinceYear']) * 12 \
                                + df['Month'] - df['CompetitionOpenSinceMonth']).fillna(-100)

df['Mon'] = (df['DayOfWeek'] == 1).astype(float)
df['Weekday'] = ((df['DayOfWeek'] > 1) & (df['DayOfWeek'] < 6)).astype(float)
df['Sat'] = (df['DayOfWeek'] == 6).astype(float)
df['Sun'] = (df['DayOfWeek'] == 7).astype(float)

df['OpenHoliday'] = np.where((df['Open'] == 1)&((df['SchoolHoliday'] == 1)|\
                            (df['StateHoliday']=='a')|(df['StateHoliday']=='b')|\
                            (df['StateHoliday']=='c')),\
                             2,1)
df.loc[df['Open']==0,'OpenHoliday'] = 0

df['isPromo2'] = (((df['PromoInterval'] == 'Jan,Apr,Jul,Oct') & \
                  ((df['Month'] == 1) | (df['Month'] == 4) | \
                   (df['Month'] == 7) | (df['Month'] == 10))) | \
                ((df['PromoInterval'] == 'Feb,May,Aug,Nov') & \
                  ((df['Month'] == 2) | (df['Month'] == 5) | \
                   (df['Month'] == 8) | (df['Month'] == 11))) | \
                ((df['PromoInterval'] == 'Mar,Jun,Sept,Dec') & \
                  ((df['Month'] == 3) | (df['Month'] == 6) | \
                   (df['Month'] == 9) | (df['Month'] == 12)))).astype(float)

In [5]:
df.drop(columns=['Store','Date','Customers','Open','StateHoliday','SchoolHoliday',\
                 'CompetitionDistance','CompetitionOpenSinceMonth','CompetitionOpenSinceYear',\
                 'Promo2','Promo2SinceWeek','Promo2SinceYear','PromoInterval',\
                 'DayOfWeek'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 13 columns):
Sales                    1017209 non-null int64
Promo                    1017209 non-null int64
StoreType                1017209 non-null object
Assortment               1017209 non-null object
Distance                 1017209 non-null float64
Month                    1017209 non-null int64
CompetitionOpenMonths    1017209 non-null float64
Mon                      1017209 non-null float64
Weekday                  1017209 non-null float64
Sat                      1017209 non-null float64
Sun                      1017209 non-null float64
OpenHoliday              1017209 non-null int64
isPromo2                 1017209 non-null float64
dtypes: float64(7), int64(4), object(2)
memory usage: 108.6+ MB

In [7]:
df.head()

,Sales,Promo,StoreType,Assortment,Distance,Month,CompetitionOpenMonths,Mon,Weekday,Sat,Sun,OpenHoliday,isPromo2
0,5263,1,c,a,1270.0,7,82.0,0.0,1.0,0.0,0.0,2,0.0
1,5020,1,c,a,1270.0,7,82.0,0.0,1.0,0.0,0.0,2,0.0
2,4782,1,c,a,1270.0,7,82.0,0.0,1.0,0.0,0.0,2,0.0
3,5011,1,c,a,1270.0,7,82.0,0.0,1.0,0.0,0.0,2,0.0
4,6102,1,c,a,1270.0,7,82.0,1.0,0.0,0.0,0.0,2,0.0